.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #141414; */
    padding: 50px 20px;
    color: white;
    margin-top: 3vw;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left-stats .stat-item, .right-stats .stat-item {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .stat-value {
    font-size: 28px;
    font-weight: bold;
  }
  
  .stat-label {
    font-size: 14px;
    color: #888888;
  }
  
  .main-title {
    flex: 2;
    text-align: center;
    padding: 0 20px;
  }
  
  .subtitle {
    font-size: 14px;
    color: #888888;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .cta-button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
  }
  
  .cta-button:hover {
    background-color: #333333;
  }
  
  .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .indicator {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .indicator.active {
    background-color: #FD532F; /* Assuming the primary color is FD532F */
  }
  
  .indicator:hover {
    background-color: #FD532F;
  }
  